@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



/* deffault sytle */
html {
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
h4{
    font-size:22px
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

#map {
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    transition: all .4s ease;
    z-index: -1;
    left: 0;
    top: 0;
}
.map_active{
    height: calc(75vh - 70px) !important;
}
.map_inactive{
     left: 350px !important;
     width: calc(100% - 350px) !important;
}
/* menu styling */











/* loader */
.loader {
    width: 100vw;
    position: absolute;
    z-index: 4444;
    top: 0;
    left: 0;
    background-color: #2a2d35;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-cube-grid {
    display: block;
    position: relative;
    z-index: 444444;
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: rgb(252, 249, 249);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}



/* leaflet styling */
.leaflet-routing-container {
    display: none;
}

.leaflet-control-layers {
    overflow: auto;
}


.leaflet-touch .leaflet-bar button{
    width: 40px;
    height: 40px;
}

.leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0px;
}

.leaflet-popup-content-wrapper {
    padding: 10px 4px;
}

.leaflet-popup-content {
    font-size: 16px;
}

.leaflet-popup-content p span {
    font-weight: bold;
}

.leaflet-container a.leaflet-popup-close-button {
    border: 2px solid #222;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 12px;
    right: 3px;
    top: 2px;
    font-size: 22px;
}

.leaflet-control-coord-projection.leaflet-control {
    font-size: 18px;
}
.leaflet-control-coord-projection {
    background-color: #fff !important;
    color: #6366f1 !important;
    /* color: #fff !important; */
    font-weight: 400 !important;
    border-radius: 16px !important;
    padding: 8px 20px !important;
}

.leaflet-pm-toolbar .control-icon {
    width: 83%;
}

.leaflet-control-layers-list input[type="radio"],
input[type="checkbox"] {
    margin: 2px;
}

.leaflet-top.leaflet-left a,
.leaflet-top.leaflet-left button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.leaflet-control-attribution a {
    text-decoration: none;
    display: none;
}

.leaflet-touch .leaflet-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* border-radius: 2px; */
}

.leaflet-control-layers-list {
    width: 200px;
    right: -2px;
    padding: 12px;
    height: auto;
    background-color: #222;
    color: #fff;
}

.leaflet-touch .leaflet-bar .leaflet-measure-action a {
    display: block;
    width: auto;
}
/* .leaflet-touch .leaflet-draw-toolbar a {
    background-position: 23px 2px;
} */
.fa.fa-layer-group {
    color: #0078A8;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* projectin styling */
.containr {
    /* opacity: 0.8; */
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    /* display: flex; */
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 333;
    transition: all 10s ease;
    display: none;
}
.privacy{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2222;
    background-color: rgb(37, 36, 36);
    padding: 6px 12px;
    text-align: center;
    border-radius: 4px;
}
.privacy h5{
    font-size: 15px;
    color: #fff;
} 
.privacy h5 a{
    color: #22C55E;
}
.hide-table-attribute{
    padding: 12px;
    border: none;
    background-color: #ccc;
    color: #ddd;
    cursor: pointer;
    position: absolute;
    right: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 12px;
    z-index: 5555;
    border-radius: 8px;
    animation: upanddnd 1.7s infinite ease-in;
    display: none;
}
.hide-table-attribute i{
    font-size: 28px;
    color: black;
}


/* table atrribute */
#table_data {
    position: absolute;
    bottom: 0%;
    transition: .4s ease;
    text-align: center;
    left: 0%;
    padding-top: 12px ;
    right: 0%;
    /* border-top: 3px solid #ccc; */
    height: 0%
}
.table_active{
    height: 34vh !important;
}

#table {
    white-space: nowrap;
    grid-template-areas: "head-fixed""body-scrollable";
}

#table th {
    position: sticky;
    top: 0px;
    color: #fff;
    background-color: #333;
    font-weight: 400;
    text-transform: capitalize;
    width: 100px;
}

/* Highlighted row style */
#table_data tr.highlight {
    background-color: lightgray;
    color: black;
    transition: background-color 0.3s ease;
}


/* .hide-table-attribute{
    padding: 12px;
    border: none;
    background-color: #ccc;
    color: #ddd;
    cursor: pointer;
    position: absolute;
    right: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 12px;
    z-index: 5555;
    border-radius: 8px;
    animation: upanddnd 1.7s infinite ease-in;
    display: none;
}
.hide-table-attribute i{
    font-size: 28px;
    color: black;
} */
@keyframes upanddnd {
    50%,
    100% {
        /* -webkit-transform: scale3D(1, 1, 1); */
        transform: translateY(12px);
    }

    0% {
        /* -webkit-transform: scale3D(0, 0, 1); */
        transform: translateY(0px);
    }
}


 /* Fullscreen style for selected option */
  #projModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 56660;
    background: white;
    border: none;
  }

  .listFiles{
    bottom: 3rem !important;
    right: 13px !important;
  }
